

.music-player {
    display: flex;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color-gray-200);
    justify-content: space-around;
    align-items: flex-end;
}



.All-controls-musicplayer {
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: column;
}

.butons-reproductor{
    background: none;
    border: none;
    cursor: pointer;
}
.butons-reproductor svg{
    height: 40px;
    width: 40px;
    color: #d5d5d5;
    margin-left: 20px;
    margin-right: 20px;
}


.butons-reproductor  svg:hover{
    color: white;
}


.content-time-barprogress{
    display: flex;
    align-items: center;
}


.time{
    width: 50px;
    font-size: var(--font-size-sm);
    line-height: 160%;
    font-family: var(--font-montserrat);
    color: var(--color-gray-100);
}

.progress-bar {
    cursor: pointer;
    width: 554px;
    height: 10px;
    margin: 0 10px;
    border-radius: var(--br-5xs);
    background-color: var(--color-gainsboro-100);
}

.progress {
    cursor: pointer;
    height: 100%;
    width: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-plum);

}

