
.content-header-barplataform{
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
}
.explorer{
    display: flex;
    align-items: center;
    border-radius: var(--br-86xl);
    background-color: var(--color-dimgray);
    width: 680px;
    height: 47px;
}

.explorer i{
    font-size: var(--font-size-base);
    line-height: 160%;
    font-family: var(--font-montserrat);
    color: var(--color-darkgray-200);
    text-align: left;
}


.content-form-logincarUsers-inPlataform{
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(29, 36, 52, .9);
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}