.content-all-balancetotal-card{
    display: flex;
    height: 207px;
    flex-direction: column;
    justify-content: space-between;
}

.content-balancetota-card-info{
    display: flex;
    flex-direction: column; 
}

.content-balancetotal-card-buttons{
    display: flex;
    justify-content: space-evenly;
}


.balancetotal-unicoin{
    line-height: 160%;
    font-weight: 500;
    font-family: var(--font-montserrat);
    color: var(--color-darkgray-100);
}


.balancetotal-total{
    line-height: 160%;
    font-weight: 500;
    font-family: var(--font-montserrat);
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
}

.balancetota-profits{
    font-size: var(--font-size-sm);
    line-height: 160%;
    font-weight: 500;
    font-family: var(--font-montserrat);
    color: var(--color-darkgray-100);
}