.UserNot-PlayList-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   width: 500px;
   height: 400px;
    border: 1px solid #5d5a5a;
    border-radius: 8px;
}


.UserNot-PlayList-box img{
    width: 130px;
    cursor: pointer;
}


.text-playlist-userNot{    font-size: 1rem;
    color: white;
    font-family: var(--font-montserrat);
    font-weight: 100;
}

.content-buttons-playlistUser{
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-buttons-playlistUser button:hover{
    transition: 0.2s;
    background-color: #3a393d !important;
}
.content-buttons-playlistUser button{
    margin: 5px !important;
}