
.button-playerMusicCardComponent{
    background: none;
    border-style: none;
    padding: 3px;
  padding-top: 2px;
   
}


.content-buttonsandimgcardmusicplayercomponent{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}

.buttonplaypause-cardmusic{
    display: flex;
    width: 100%;
    z-index: 5;
    height: 100%;
    position: absolute;
   cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: var(--br-6xl);
    
}

.buttonplaypause-cardmusic:hover {
    transition: 0.2s;
    opacity: 1;
   background-color:  rgba(14, 18, 19, .8);
}

   .buttonplaypause-cardmusic:hover .intern-buttonplaypause-cardmusic{
    opacity: 1;
    
   }

.intern-buttonplaypause-cardmusic{
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.buttonplaypause-cardmusicactive{
    transition: 0.2s;
    opacity: 1;
   background-color: rgba(14, 18, 19, .8) !important;
}

.intern-buttonplaypause-cardmusicactive{
    opacity: 1;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.buttonplaypause-cardmusic svg{
    
    width: 100%;
    color: white;
    height: 100%;
}



.title-subittle-musiccardPlayercomponent{
padding-left: 10px;
padding-bottom: 5px;
}

.title-musicplayercardcomponent{
    margin: 0;
    padding: 0;
    font-size: var(--font-size-base);
    line-height: 160%;
    font-family: var(--font-montserrat);
    color: var(--color-white);
    text-align: left;
}

.subtitle-musicplayercardcomponent{
    margin: 0;
    font-size: var(--font-size-rsr);
    line-height: 160%;
    font-family: var(--font-montserrat);
    color: var(--color-gray-100);
    text-align: left;
}




