
.loginCardUsers-box-containt{
    width: 446px;
    height: 635px;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    font-family: var(--font-montserrat);
}
.button-close-logincardUsers{
    margin-top: 5px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}

.button-close-logincardUsers svg{
    color: #a7a7a7;
    border: 1px solid;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: var(--br-4xl);
    background-color: var(--color-gainsboro-100);
}

.title-logincardUserss-content{    display: flex;
    justify-content: center;}

.title-logincardUsers-h2{
    font-size: var(--font-size-xl);
    display: inline-block; 
    color: var(--color-white);
    font-family: var(--font-montserrat);}

.label-logincardUsers{
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-white);
    font-family: var(--font-montserrat);
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.input-logincardUsers{
    border-radius: var(--br-3xs);
    background-color: var(--color-dimgray-100);
    border: 1px solid var(--color-gray-500);
    box-sizing: border-box;
    font-size: var(--font-size-mini);
    color: var(--color-gray-500);
    height: 30px;
    width: 100%;
    padding: 5px;
}


.button-connect-logincarUser-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.button-connect-logincarUser-content p{
    font-size: 13px;
    color: var(--color-white);
font-family: var(--font-montserrat);
}

.question-logincardUser-content{    
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-logincardUser-content p{
    font-size: 13px;
        color: var(--color-white);
    font-family: var(--font-montserrat);
}

.question-logincardUser-content span{
    padding-left: 5px;
    cursor: pointer;
    color: #b353ff;
    font-size: 13px;
    font-family: var(--font-montserrat);
}


.question-logincardUser-content span:hover{
    color: #c681ff;
}

.content-button-ingreso-logincardUser{
    width: 100%;
}