.content-plataformMyCollection{    
    display: flex;
    width: 100%;
    padding-top: 200px;
    justify-content: center;
}


.content-plataformMyCollection table
{width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}