

.div-card-img-music{
    width: 214px;
    height: 204px;
 
    border-radius: var(--br-6xl);
    cursor: pointer;
}


.div-card-img-music img{
    width: 100%;
    height: 100%;
    border-radius: var(--br-6xl);
   
    object-fit: cover;
}
