.content-all-card-CollectionUser{
    height: 600px;
    align-content: space-between;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.SectionCollectionsUser div{
    width: 100%;
}