
.loadingMusicForm-box{
    border-radius: var(--br-6xl);
    background-color: var(--color-gray-400);
    width: 756px;
 
}

.button-close-LoadingMusicForm{
    margin-top: 5px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}

.button-close-LoadingMusicForm svg{
    color: #a7a7a7;
    border: 1px solid;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: var(--br-4xl);
    background-color: var(--color-gainsboro-100);
}

.content-form-title-boxPictur{

    display: flex;
    padding-bottom: 15px;
    justify-content: space-around;
}

.content-title-and-form-loadingMusic{
    padding-left: 5px;
}


.content-form-loadingMusic{
    width: 100%;
}

.form-laadingMusic{
    display: flex;
    flex-direction: column;
    font-family: var(--font-montserrat);
    align-items: flex-start;
    width: 250px;
    
}

.loading-music-titleh2{
    font-size: var(--font-size-6xl);
    display: inline-block; 
    color: var(--color-white);
    font-family: var(--font-montserrat);
}


.label-loadingmusic{

    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-white);
    font-family: var(--font-montserrat);
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}



.input-loadingmusic{
    border-radius: var(--br-3xs);
    background-color: var(--color-dimgray-100);
    border: 1px solid var(--color-gray-500);
    box-sizing: border-box;
    font-size: var(--font-size-mini);
    color: var(--color-gray-500);
    height: 30px;
    width: 100%;
    padding: 5px;
}

.textarea-loadingmusic{
    border-radius: var(--br-3xs);
    background-color: var(--color-dimgray-100);
    border: 1px solid var(--color-gray-500);
    box-sizing: border-box;
    font-size: var(--font-size-mini);
    color: var(--color-gray-500);
    height: 50px;
    width: 100%;
    padding: 5px;
}


.add-picture-box-loadingMusic{
    display: flex;
    align-items: center;
    justify-content: center;
cursor: pointer;
    border-radius: var(--br-6xl);
    border: 4px dashed #9e9e9e;
    box-sizing: border-box;
    width: 263px;
    height: 246px;
}

.picture-box-content-text-loadingMusic{
    display: flex;
    flex-direction: column;
}

.picture-box-content-text-loadingMusic p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: var(--font-size-mini);
    line-height: 160%;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    width: 200px;
    color: var(--color-white);
    font-family: var(--font-montserrat);
}

