


.conent-all-stadistcUserPlataformNav{   
    padding-top: 20px; 
    display: flex;
    justify-content: flex-start;
}

.div-content-sp-p-stadistcUserPlataformNav{

  padding-right: 44px;
}

.spa-stadistcUserPlataformNav{
    color: white;
    
    font-size: 18px;
    line-height: 22px;
}



.p-stadistcUserPlataformNav{
    cursor: pointer;
    color: gray;
    margin: 0;
}