
/* level settings 👇 */

.content-all-vol-slider{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.content-vol-Slider{
    height: 62px;
}
.slider {
    /* slider */
    --slider-width: 6px;
    --slider-height: 60px; /* Ajusta la altura según sea necesario */
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 999px;
    /* level */
    --level-color: #fff;
    --level-transition-duration: 0.1s;
    /* icon */
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px;
  }
  
  .slider {
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
  }
  
  .slider .volume {
    display: inline-block;
    margin-bottom: var(--icon-margin); /* Cambiado de margin-right a margin-bottom */
    color: var(--icon-color);
    width: var(--icon-size);
    height: auto;
  }
  
  .slider .level {
    appearance: none;
    width: var(--slider-height); /* Cambiado de width a height */
    height: var(--slider-width); /* Cambiado de height a width */
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    transition: height var(--level-transition-duration);
    cursor: inherit;
    transform: rotate(-90deg); /* Gira el slider -90 grados */
  }
  
  .slider .level::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    height: 0;
    box-shadow: -200px 0 0 200px var(--level-color);
  }
  
  .slider:hover .level {
    height: calc(var(--slider-width) * 2);
  }


  .butons-reproductor-volumen{
    background: none;
    border: none;
    cursor: pointer;
}

.butons-reproductor-volumen svg{
    height: 20px;
    width: 20px;
    color: #d5d5d5;
    margin-left: 20px;
    margin-right: 20px;
}


.butons-reproductor-volumen  svg:hover{
    color: white;
}

