
.content-allPrimary-secondNavBarPlataform{
    border-bottom: 1px solid #3a3839;
}
.content-all-secondNavBarPlataform{
    padding-left: 44px;
    
}

.secondNavBar-content-menu{
    padding-top: 20px;
   
    box-shadow: 0 2px 6px -4px rgba(25,25,34,.16);
    box-sizing: border-box;
    position: relative;
    font-family: var(--font-montserrat);
}

.ul-secondNavbar{
    display: flex;
    margin: 0;
    padding: 0;
}


.li-secondNavbar{
    color: var(--color-darkgray-100);
    display: inline-block;
    font-size: 16px;
    position: relative;
   padding-right: 44px;
}



.a-secondNavbar{

    color:  white;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: block;
    font-weight: 400;
    padding-bottom: 16px;
    transition-duration: .15s;
    transition-property: border-color, color;
}

.a-secondNavbar:hover{
    border-color: #a9a6aa;
}

.secondNavBarActive{
    border-color: var(--color-blueviolet-100);
}