
  .search-bar {
    border-radius: var(--br-86xl);

    width: 680px;
    height: 47px;
 
  }
  
 .form-search-bar{
  display: flex;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 2rem;

  }
  
  .input-search-bar {
    flex: 1 1;
    padding: 10px;
    border: none;

    outline: none;
    font-size: var(--font-size-base);
    line-height: 160%;
    font-family: var(--font-montserrat);
    color: white;
    text-align: left;
    background: none;
  
  }

  .input-search-bar::placeholder{
    color: rgb(229, 225, 225);
  }
  
  .button-search-bar{
    padding: 10px 20px;
    border: none;
 
    color: #fff;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
  background: none;
  }
  
 .button-search-bar svg {
    margin-right: 5px;
  }
  

  